.main(layout='row')
  span(flex='')
  div(layout='column')
    br
    form.md-whiteframe-z1(ng-submit='save()', name='form', layout-padding='')
      p Add a shorten link
      md-input-container
        label Shorten link
        input(ng-model='newLink.name', placeholder='Name', required='')
      br
      md-input-container
        label URL
        input(ng-model='newLink.url', placeholder='URL', required='')
      .main(layout='row')
        span(flex='')
        input.md-button(type='submit', value='Add', layout='column')
        span(flex='')
    div(layout='row', layout-padding='')
  span(flex='')